div {
    left: 0;
    position: absolute;
    text-align: center;
    top: 30%;
    width: 100%;
}

/* h3 {
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 45%;
    width: 100%;
}

.css-button {
    position: absolute;
    top: 55%;
    left: 50%;
} */