.page {
    left: 0;
    position: absolute;
    text-align: center;
    top: 20%;
    width: 100%;
}

.hidden-square {
    left: 0;
    bottom: 0;
    position: absolute;
    padding: 10px 0 10px 0;
    background-color: white;
    color: white;
    width: 5%;
}